<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (tap)="cancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ isEditMode ? 'Modifier invités' : 'Ajouter invités' }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (tap)="confirm()">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item lines="none" class="status">
      <ion-segment formControlName="status" mode="ios">
        <ion-segment-button mode="ios" [value]="STATUS.CONFIRMED">
          <ion-label>Confirmé</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="ios" [value]="STATUS.PENDING">
          <ion-label>En attente</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="ios" [value]="STATUS.CANCELLED">
          <ion-label>Décliné</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="stacked"
                 label="Nom"
                 type="text"
                 formControlName="name"
                 required
                 placeholder="Ex : Tonton">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="stacked"
                 label="Nombre d'adultes"
                 type="number"
                 formControlName="adults"
                 required
                 min="1"
                 max="20">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked"
                 label="Nombre d'enfants"
                 type="number"
                 formControlName="children"
                 min="0"
                 max="20">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked"
                 label="E-mail"
                 type="email"
                 formControlName="email"
                 maxlength="200">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked"
                 label="Téléphone"
                 type="tel"
                 formControlName="phone">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked"
                 label="Adresse"
                 type="string"
                 formControlName="address"
                 maxlength="200">
      </ion-input>
    </ion-item>

<!--    <ion-item class="status">-->
<!--      <ion-radio-group formControlName="status">-->
<!--        <div class="item">-->
<!--          <ion-radio [value]="STATUS.CONFIRMED"></ion-radio>-->
<!--          <ion-label>Confirmée</ion-label>-->
<!--        </div>-->
<!--        <div class="item">-->
<!--          <ion-radio [value]="STATUS.PENDING"></ion-radio>-->
<!--          <ion-label>En attente</ion-label>-->
<!--        </div>-->
<!--        <div class="item">-->
<!--          <ion-radio [value]="STATUS.CANCELLED"></ion-radio>-->
<!--          <ion-label>Décliné</ion-label>-->
<!--        </div>-->
<!--      </ion-radio-group>-->
<!--    </ion-item>-->
  </form>

  @if (isEditMode) {
    <ion-fab class="action-bottom-fab" slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button id="confirm-delete-alert">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-alert
      trigger="confirm-delete-alert"
      header="Confirmer la suppression ?"
      [buttons]="deleteConfirmButtons"
    >
    </ion-alert>
  }
</ion-content>
