:host {
  ion-toolbar {
    text-align: center;
  }

  .select-icon-label {
    margin: 22px 0 0 16px;
    display: flex;
  }

  ion-item.status {
    ion-radio-group {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: start;
      padding: 10px 0;

      > .item {
        display: flex;
        flex: 1;
        align-items: center;

        > ion-label {
          padding: 10px 10px;
        }
      }
    }
  }

  .icon-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(60px, auto);
    margin-top: 16px;

    ion-button {
      margin: auto;
      font-size: 16px;
    }
  }
}
