<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (tap)="cancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ isEditMode ? 'Modifier invités' : 'Ajouter invités' }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (tap)="confirm()">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-input labelPlacement="stacked"
                 label="Nom"
                 type="text"
                 formControlName="name"
                 required
                 placeholder="Ex : Tonton">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="stacked"
                 label="Nombre d'adultes"
                 type="number"
                 formControlName="adults"
                 required
                 min="1"
                 max="20">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked"
                 label="Nombre d'enfants"
                 type="number"
                 formControlName="children"
                 min="0"
                 max="20">
      </ion-input>
    </ion-item>
  </form>

  @if (isEditMode) {
    <ion-fab class="action-bottom-fab" slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button id="confirm-delete-alert">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-alert
      trigger="confirm-delete-alert"
      header="Confirmer la suppression ?"
      [buttons]="deleteConfirmButtons"
    >
    </ion-alert>
  }
</ion-content>
