<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>Tâches</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="accordion-container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Novembre 2024</mat-panel-title>
          <mat-panel-description class="warn">3/7</mat-panel-description>
        </mat-expansion-panel-header>
        @if (tasks$ | async; as tasks) {
          @if (tasks.length > 0) {
            @for (task of tasks; track task.id) {
              <ion-checkbox [checked]="task.done">
                <span class="date">21/09/2025</span>
                <span class="label">{{ task.label }}</span>
              </ion-checkbox>
            }
          }
        }
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Décembre 2024</mat-panel-title>
          <mat-panel-description class="warn">3/7</mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Janvier 2025</mat-panel-title>
          <mat-panel-description class="success">2/2</mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title>Février 2025</mat-panel-title>
          <mat-panel-description class="warn">2/3</mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <ion-fab class="action-bottom-fab" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (tap)="addTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
