<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks" href="/tabs/tasks">
      <ion-icon aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>ToDoList</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="budget" href="/tabs/budget">
      <ion-icon aria-hidden="true" name="card-outline"></ion-icon>
      <ion-label>Budget</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="guests" href="/tabs/guests">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Invités</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="providers" href="/tabs/providers">
      <ion-icon aria-hidden="true" name="briefcase-outline"></ion-icon>
      <ion-label>Prestataires</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
