<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (tap)="cancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ isEditMode ? 'Modifier dépense' : 'Nouvelle dépense' }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (tap)="confirm()">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-input formControlName="label" labelPlacement="stacked" label="Libellé" placeholder="Ex : Traiteur">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="amount" labelPlacement="stacked" label="Montant (en €)" type="number"
                 placeholder="Veuillez saisir un montant">
<!--        <div *ngIf="form.get('amount')?.invalid && form.get('amount')?.touched">-->
<!--          <div *ngIf="form.get('amount')?.errors?.['required']">-->
<!--            Le montant est obligatoire-->
<!--          </div>-->
<!--          <div *ngIf="form.get('amount')?.errors?.['min']">-->
<!--            Le montant doit être supérieur ou égal à 0-->
<!--          </div>-->
<!--          <div *ngIf="form.get('amount')?.errors?.['max']">-->
<!--            Le montant ne peut pas dépasser 99999-->
<!--          </div>-->
<!--        </div>-->
      </ion-input>
    </ion-item>
  </form>

  <ion-label class="select-icon-label">Sélectionnez une icone (optionnel)</ion-label>
  <div class="icon-list">
    @for (icon of icons; track icon) {
      <ion-button [color]="selectedIcon === icon ? 'primary' : 'secondary'" shape="round" (tap)="selectIcon(icon)">
        <ion-icon slot="icon-only" [name]="icon"></ion-icon>
      </ion-button>
    }
  </div>

  @if (isEditMode) {
    <ion-fab class="action-bottom-fab" slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button id="confirm-delete-alert">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-alert
      trigger="confirm-delete-alert"
      header="Confirmer la suppression ?"
      [buttons]="deleteConfirmButtons"
    >
    </ion-alert>
  }
</ion-content>
