:host {
  .timer-card {
    display: flex;
    align-items: center;

    img {
      width: 150px;
    }

    ion-label {
      margin-left: 20px;
      font-size: 22px;
      font-weight: bold;
    }
  }

  ion-card.total-guests {
    display: flex;
    align-items: center;

    .adults, .children {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 6px;
    }

    .children {
      i {
        margin-right: 4px;
        margin-left: 4px;
      }
    }
  }
}
