:host {
  // COUNTDOWN
  .timer-card {
    display: flex;
    align-items: center;
    padding: 10px;

    img {
      width: 100px;
    }

    .countdown {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;

      .col {
        display: flex;
        flex-direction: column;
        flex: 1;

        .value {
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }

  // BUDGET
  ion-card.budget {
    font-size: 16px;

    .title {
      text-align: center;
      font-weight: bold;
    }

    .chart-container {
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      .chart {
        flex: 1;
        height: 170px;
        max-height: 170px;
      }
    }
  }

  // TOTAL GUESTS
  ion-card.total-guests {
    display: flex;
    align-items: center;
    font-size: 16px;

    .chart-container {
      display: flex;
      margin-top: 10px;

      .chart {
        flex: 1;
        height: 170px;
        max-height: 170px;
      }
    }

    .adults, .children {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 6px;
    }

    .children {
      i {
        margin-right: 4px;
        margin-left: 4px;
      }
    }
  }
}
